<div class="bg-white shadow rounded-xl overflow-hidden">
  <div class="p-4">
    <h2 class="text-lg font-semibold border-b pb-2">Geo Map</h2>
    <div class="h-64 w-full mt-4 rounded overflow-hidden bg-gray-100 flex items-center justify-center">
      <span class="text-gray-400 italic">
        <igx-geographic-map #map
            width="1000px"
            height="500px"
            zoomable="true"
            isHorizontalZoomEnabled=true
        >
        </igx-geographic-map>
      </span>
    </div>
  </div>
</div>
