<div class="bg-base-200 shadow rounded-xl overflow-hidden border border-base-300">
  <div class="p-4">
    <h2 class="text-lg font-semibold border-b pb-2">Geo Map</h2>
    <div class="h-100 w-full mt-4 rounded overflow-hidden flex items-center justify-center">
      <span class="italic">
        <igx-geographic-map #map
            width="1000px"
            height="500px"
            zoomable="true"
            isHorizontalZoomEnabled=true
        >
        </igx-geographic-map>
      </span>
    </div>
  </div>
</div>
