<div class="p-6 space-y-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <div class="bg-base-200 p-4 rounded-xl shadow border border-base-300">
      <p class="text-gray-500">Total Assets</p>
      <p class="text-2xl font-bold">278</p>
    </div>
    <div class="bg-base-200 p-4 rounded-xl shadow border border-base-300">
      <p class="text-gray-500">Live Hosts</p>
      <p class="text-2xl font-bold text-green-600">200</p>
    </div>
    <div class="bg-base-200 p-4 rounded-xl shadow border border-base-300">
      <p class="text-gray-500">Critical Risks</p>
      <p class="text-2xl font-bold text-red-600">36</p>
    </div>
    <div class="bg-base-200 p-4 rounded-xl shadow border border-base-300">
      <p class="text-gray-500">Providers</p>
      <p class="text-2xl font-bold text-indigo-600">196</p>
    </div>
  </div>

  <!-- Charts & Tables -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <app-base-table-card [title]="'Top Risk Hosts'" [columns]="userColumns" [data]="userData">
    </app-base-table-card>

    <app-base-list-card [title]="'Top Technologies'" [listItems]="topTechnologies"></app-base-list-card>
    <app-base-list-card [title]="'Top Vulnerability'" [listKeyValueItems]="vulnerabilityScores" [isKeyValueList]="true"></app-base-list-card>
    <app-geo-map-card></app-geo-map-card>
    <app-donut-chart-card></app-donut-chart-card>
  </div>
</div>
