<ul class="menu p-4 w-20 bg-base-200 text-base-content min-h-screen">
  <li>
    <a routerLink="/asset-discovery">
      <lucide-angular [img]="Search"></lucide-angular>
    </a>
  </li>
  <li>
    <a routerLink="/asset-discovery">
      <lucide-angular [img]="Search"></lucide-angular>
    </a>
  </li>
  <li>
    <a routerLink="/asset-discovery">
      <lucide-angular [img]="Search"></lucide-angular>
    </a>
  </li>
  <li>
    <a routerLink="/asset-discovery">
      <lucide-angular [img]="Search"></lucide-angular>
    </a>
  </li>
  <li>
    <a routerLink="/asset-discovery">
      <lucide-angular [img]="Search"></lucide-angular>
    </a>
  </li>
</ul>