<div class="bg-base-200 shadow rounded-xl overflow-hidden border border-base-300">
  <div class="p-4">
    <h2 class="text-lg font-semibold border-b pb-2">Infrastructure By Hosting Provider</h2>

    <div class="h-64 w-full mt-4 rounded overflow-hidden bg-gray-100 flex items-center justify-center">
      <div class="w-full h-full flex flex-col md:flex-row items-center justify-center gap-4 p-2">
        <igx-doughnut-chart
          #chart
          class="w-full h-48 md:w-1/2"
          allowSliceSelection="true"
          innerExtent="0.6"
          (sliceClick)="OnSliceClick($event)"
          selectedSliceStroke="White"
          selectedSliceFill="Gray"
          selectedSliceStrokeThickness="1"
          selectedSliceOpacity="0.75"
        >
          <igx-ring-series
            [dataSource]="data"
            valueMemberPath="Value"
            labelMemberPath="Summary"
            legendLabelMemberPath="Label"
            [legend]="legend"
            selectedSliceStroke="white"
            selectedSliceFill="rgb(143,143,143)"
            selectedSliceOpacity="1.0"
            selectedSliceStrokeThickness="2"
            startAngle="260"
            labelsPosition="OutsideEnd"
            labelExtent="30"
            radiusFactor="0.6"
          >
          </igx-ring-series>
        </igx-doughnut-chart>
        
        <igx-item-legend
          #legend
          class="w-full md:w-auto"
          height="100px"
          width="150px"
          orientation="horizontal"
        ></igx-item-legend>
      </div>
    </div>
  </div>
</div>
