<div class="bg-base-200 shadow rounded-xl overflow-hidden border border-base-300">
  <div class="p-4">
    <h2 class="text-lg font-semibold border-b pb-2">Infrastructure By Hosting Provider</h2>

    <div class="h-100 w-full mt-4 rounded overflow-hidden bg-gray-100 flex items-center justify-center">
      <div class="w-full h-full flex flex-col md:flex-row items-center justify-center gap-4 p-2">
        <ngx-charts-pie-chart
          [view]="view"
          [margins]="margins"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          [legend]="showLegend"
          [legendPosition]="legendPosition"
          [labels]="showLabels"
          [doughnut]="isDoughnut"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</div>
