<div class="overflow-x-auto rounded-lg border border-gray-200 bg-white shadow-sm">
  <table class="min-w-full text-sm text-left text-gray-700">
    <thead class="bg-gray-100 text-gray-800 uppercase tracking-wider">
      <tr>
        @for (column of columns; track $index) {
            <th class="px-4 py-2 font-medium text-left">{{ column.header }}</th>
        } @empty {
            <th class="px-4 py-2"> No Columns </th>
        }
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      @if (data.length > 0) {
        @for (row of data; track $index) {
            <tr class="hover:bg-gray-50">
                @for (column of columns; track $index) {
                    <td class="px-4 py-2">
                        @if (renderCell) {
                            <ng-container
                                *ngTemplateOutlet="
                                renderCell;
                                context: { $implicit: row, accessor: column.accessor }
                            ">
                            </ng-container>
                        } @else {
                            {{ row[column.accessor] }}
                        }
                    </td>
                }
            </tr>
        }
      }
    </tbody>
  </table>
</div>